@import "bootstrap";

.full-height{
	width: 100%;
	height: 100vh;
}

.hidden{
	display: none;
}

.table{
	display: table;
	height: 100%;
	margin: 0;

	.table-cell{
		float: none;
		display: table-cell;
		vertical-align: middle;
	}
}
